/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-PilotWX .header {
  color: white;                /* Header color. Default is white. */
} 
 
.MMM-PilotWX .bottom_bar {
  color: yellow;                /* Color line. Default is white. */
}  
 
.MMM-PilotWX .station {
  color: white;                /* Station/Conditions color. Default is white. */
} 
 
.MMM-PilotWX .synopsis {
  color: white;                /* Color each line. Default is white. */
}  
 
.MMM-PilotWX .synopsis2 {
  color: #33FFEE;              /* Color each line. Default is white. */                 
}

.MMM-PilotWX .synopsis3 {
  color: white;                /* Color each line. Default is white. */              
}

.MMM-PilotWX .synopsis4 {
  color: #33FFEE;                /* Color each line. Default is white. */               
}

.MMM-PilotWX .synopsis5 {
  color: white;                /* Color each line. Default is white. */               
}

.MMM-PilotWX .synopsis6 {
  color: #33FFEE;                /* Color each line. Default is white. */               
}

.MMM-PilotWX .synopsis7 {
  color: white;                /* Color each line. Default is white. */
}

.MMM-PilotWX .synopsis8 {
  color: #33FFEE;                /* Color each line. Default is white.  */
}