/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-PilotWX .header {
  color: white;                /* Header color. Default is white. */
} 
 
.MMM-PilotWX .bottom_bar {
  color: yellow;                /* Color line. Default is white. */
}  

.MMM-PilotWX .bullet {
  padding-left: 0;
  padding-right: 0;
}

.MMM-PilotWX .station {
  color: white;                /* Station/Conditions color. Default is white. */
  padding-left: 0;
  padding-right: 25px;
} 

.MMM-PilotWX .dataodd {
  color: #33FFEE;                /* Station/Conditions color. Default is white. */
  padding-left: 10px;
  padding-right: 0;
}

.MMM-PilotWX .dataeven {
  color: white;                /* Station/Conditions color. Default is white. */
  padding-left: 10px;
  padding-right: 0;
}

.MMM-PilotWX .data {
  color: white;                /* Station/Conditions color. Default is white. */
  padding-left: 10px;
  padding-right: 0;
}